<div class="container mt-3">
	<div class="row pl-4">
		<div class="col-2 ml-4 mb-4">
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
				Subir archivo
			</button>
		</div>
	</div>
</div>
<div class="table-responsive-xl">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each archivos}}
      <tr>
        <a href="#"><td>{{dataValues.nombre}}</td></a>
        <td>{{dataValues.tipo}}</td>
        <td>{{dataValues.tamaño}}</td>
        <td>{{dataValues.ruta}}</td>
        <td>
             <a href="/app/archivos/abrirarchivo/{{dataValues.id}}"target="_blank" class="btn btn-primary btn-sm">Ver</a>
          <a href="archivos/descargar/{{this.id}}" class="btn btn-success btn-sm">Descargar</a>
          <a href="archivos/eliminar/{{this.id}}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
